datos/__pycache__/asignaturas.cpython-313.pyc
auxiliares/__pycache__/version.cpython-313.pyc
datos/__pycache__/datos_asignaturas.cpython-313.pyc
auxiliares/__pycache__/opciones_menu.cpython-313.pyc
negocio/__pycache__/negocio_asignaturas.cpython-313.pyc
negocio/__pycache__/negocio_menu.cpython-313.pyc
